
<h1>Title: <%= @post.title %></h1>
Content: <%= @post.content %><br>
<h4>Categories:</h4>
<ul>
  <% @post.categories.each do |category| %>
  <li><%= link_to category.name, category_path(category) %></li>
  <% end %>
</ul>
