<h1>Category#Index</h1>
<p>Category Name: <%=@category.name%></p>
<h2>Posts associated with this category:</h2>
<ul>
<%@category.posts.each do |post|%>
<li><%=link_to post.title, post_path(post)%></li>
<%end%>
</ul>
